.endscreen-you-lost {
    background-image: url('../img/9_intro_outro_screens/game_over/oh no you lost!.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.endscreen-game-over {
    background-image: url('../img/9_intro_outro_screens/game_over/game over!.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.restart-game {
    margin-top: 56px;
    background: #d2af00;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    font-family: "Zabars", sans-serif;
    padding: 8px 15px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.restart-game:hover {
    background: #b69800;
    cursor: pointer;
    transform: translateY(2px);
}