@media (min-width: 1370px) {
    .mobile-buttons-container {
        display: none;
    }
}

@media (min-width: 1051px) {
    .desktop-d-none {
        display: none;
    }
}

@media (min-width: 666px) {
    .orizontalScreenOverlay {
        display: none;
    }
}

@media only screen and (max-width: 1370px) {
    .mobile-buttons-container {
        position: absolute;
        bottom: 8px;
        left: 16px;
        right: 16px;
        padding: 0 16px 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .button-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
    }

    .button-image-mobile {
        border-radius: 50px;
        padding: 8px;
        outline: none;
        border: 2px solid #fff;
        background: #d2af00;
        width: 55px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0.5;
    }

    .image-touch-key {
        height: 100%;
        width: 100%;
        filter: invert(1);
        object-fit: contain;
    }

    .fullScreen-game-buttons {
        height: 80px;
        width: 80px;
    }

    .fullscreen-advice {
        font-size: 48px;
    }

}

@media (max-width: 1050px) {

    .chracter-mission-and-game-buttons {
        flex-direction: column;
    }

    .character-container {
        width: 100%;
        margin-bottom: 20px
    }

    .cross-icon-container {
        top: 16px;
        right: 16px;
        height: 35px;
        width: 35px;
    }

    .coinsAndBottleCount-fullscreen {
        font-size: 40px;
    }

    .mobile-game-explanation-container {
        display: flex;
        gap: 16px;
    }

    .mobile-game-explanation-image-and-text-wrapper {
        display: flex;
        align-items: center;
        gap: 16px;
        color: #fff;
        font-size: 24px;
        border: 1px solid #fff;
        padding: 8px;
        border-radius: 10px;
    }

    .image-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        border-radius: 50px;
        height: 48px;
        width: 48px;
        border: 2px solid #fff;
        background: #d2af00;
    }

    .mobile-game-explanation-image {
        height: 100%;
        width: 100%;
        filter: invert(1);
        object-fit: contain
    }

    .fullScreen-restart-game {
        font-size: 40px;
    }

    .mobile-d-none {
        display: none;
    }

    .fullScreenButton {
        height: 70px;
        width: 70px;
    }

    .fullScreenIcons {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 950px) {
    .opacity {
        align-items: flex-start;
    }

    .pepe {
        width: 100px;
    }

    .character-container {
        display: flex;
        justify-content: center;
    }

    .mission {
        width: 70%;
        font-size: 20px;
    }

    .image-wrapper {
        padding: 4px;
        height: 32px;
        width: 32px;
    }

    .fullscreen-advice {
        font-size: 32px;
    }

    .chracter-mission-and-game-buttons {
        padding: 16px;
    }

    .cross-icon-container {
        height: 32px;
        width: 32px;
        top: 8px;
        right: 8px;
    }

    .pepe {
        width: 80px;
    }

    .buttons-game-container {
        text-align: center;
    }

    .button-game {
        font-size: 32px;
    }

    .pause-and-play-button {
        width: 40px;
        height: 40px;
        padding: 6px;
    }

    .icon-pause {
        height: 32px;
        width: 32px;
    }

    .icon-play {
        height: 32px;
        width: 32px;
    }

    .button-audio-container {
        width: 40px;
        height: 40px;
        padding: 6px;
    }

    .audio-icon {
        height: 20px;
        width: 20px;
    }

    .button-fullscreen-container {
        width: 40px;
        height: 40px;
        padding: 6px;
    }

    .fullscreen-icon {
        height: 20px;
        width: 20px;
    }

    .button-image-mobile {
        width: 40px;
        height: 40px;
        padding: 4px;
    }

    .button-mobile-jump {
        width: 40px;
        height: 40px;
        padding: 4px;
    }

    .button-mobile-bottle {
        width: 40px;
        height: 40px;
        padding: 4px;
    }

    .fullScreenButton {
        height: 40px;
        width: 40px;
    }

    .fullScreenIcons {
        height: 24px;
        width: 24px;
    }

}

@media only screen and (max-width: 720px) {
    .startscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }

    .endscreen-container {
        width: 90%
    }

    canvas {
        width: 100%;
        height: 100%;
    }

    .game-explanation-container {
        width: 100%;
    }
}

@media only screen and (max-width: 666px) {

    .mission {
        font-size: 24px;
    }

    .image-wrapper {
        height: 32px;
        width: 32px;
        padding: 4px;
    }

    .orizontalScreenOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 1001;
        background: #000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
    }

    .orizontal-screen-title {
        font-size: 32px;
        font-weight: 100;
        color: #fff;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .rotate-device-img {
        width: 250px;
        height: 250px;
        animation-name: rotation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0);
            opacity: 0;
        }

        25% {
            opacity: 0.5;
        }

        50% {
            opacity: 1;
        }

        100% {
            transform: rotate(90deg);
            opacity: 0.3;
        }
    }
}

@media only screen and (max-height: 480px) {
    .startscreen {
        height: 100%;
    }

    .endscreen-container {
        height: 100%;
        width: 90%;
        position: fixed;
        top: 0;
        bottom: 0;
    }

    canvas {
        height: 100%;
        width: 100%;
    }

    .game-explanation-container {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 100%;
    }

    .restart-game {
        margin-top: 36px;
        font-size: 24px;
        padding: 8px 15px;
    }
}


@media (max-width: 430px) {
    .image-wrapper {
        padding: 2px;
        height: 24px;
        width: 24px;
    }

    .buttons-container {
        gap: 6px;
    }

    .pause-and-play-button {
        width: 28px;
        height: 28px;
        padding: 3px;
    }

    .icon-play {
        height: 20px;
        width: 20px;
    }

    .icon-pause {
        height: 20px;
        width: 20px;
    }

    .button-audio-container {
        width: 28px;
        height: 28px;
        padding: 3px;
    }

    .audio-icon {
        height: 16px;
        width: 16px;
    }

    .button-fullscreen-container {
        width: 28px;
        height: 28px;
        padding: 3px
    }

    .fullscreen-icon {
        height: 14px;
        width: 14px;
    }

    .startGame-button {
        font-size: 20px;
    }

    .restart-game {
        font-size: 20px;
    }

    .fullScreenButton {
        height: 30px;
        width: 30px;
    }

    .fullScreenIcons {
        height: 16px;
        width: 16px;
    }
}

.d-none {
    display: none;
}