.startscreen {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 480px;
    width: 720px;
    background-image: url('../img/9_intro_outro_screens/start/startscreen_2.png');
    background-size: 99% 99%;
    /* reduce the background-image of 1%*/
    background-position: center center;
    background-repeat: no-repeat;
    gap: 16px;
    border-radius: 20px;
}

.startGame-button {
    margin-top: 16px;
    background: #d2af00;
    border: 2px solid #fff;
    border-radius: 20px;
    font-size: 32px;
    font-weight: normal;
    color: #fff;
    font-family: "Zabars", sans-serif;
    padding: 8px;
    box-sizing: border-box;
    transition: all 0.3s cubic-bezier(.215, .61, .355, 1);
}

.startGame-button:hover {
    background: #b69800;
    cursor: pointer;
    transform: translateY(2px);
}